mixin section-3
    .section-3
        .container
            .section-3__wrap
                .section-3__image
                    img(src="./client/images/anh-nen-1.png" alt="")
                .section-3__content
                    .section-3__title Thêm Một Bạn
                    h3.section-3__sub-title Thêm Ngàn Niềm Vui!
                    p.section-3__desc
                        | Có một con chó cưng cũng đồng nghĩa có thêm một niềm vui mới. Chúng tôi có hơn 200 con thú cưng khác nhau có thể đáp ứng nhu cầu của bạn!
                    .section-3__buttons
                        a(href="#" class="button") Giới thiệu 
                            <i class="fa-regular fa-circle-play"></i>
                        a(href="#" class="button button-primary") Khám Phá Ngay
