doctype html
html
    head
        meta(charset="UTF-8")
        meta(name="viewport", content="width=device-width, initial-scale=1.0")
        title #{pageTitle}
        link(rel="stylesheet", href="https://cdn.jsdelivr.net/npm/bootstrap@4.6.2/dist/css/bootstrap.min.css")
        link(rel="stylesheet", href="/client/css/header-footer.css")
        link(rel="stylesheet", href="/client/css/home.css")
        link(rel="stylesheet", href="/client/css/product.css")
        
        link(rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.1/css/all.min.css")
        link(rel="website icon" ,type = "png" ,href ="https://inkythuatso.com/uploads/thumbnails/800/2021/11/logo-bmw-inkythuatso-4-01-11-10-00-03.jpg")
        
        //- file-upload-with-preview
        link(
            rel="stylesheet"
            type="text/css"
            href="https://unpkg.com/file-upload-with-preview/dist/style.css"
        )
        link(rel="stylesheet", href="https://cdnjs.cloudflare.com/ajax/libs/viewerjs/1.11.6/viewer.css")

        
    body
        include ../partials/header.pug

        block main

        include ../partials/footer.pug
        
        script(src="https://cdn.jsdelivr.net/npm/jquery@3.5.1/dist/jquery.slim.min.js") 
        script(src="https://cdn.jsdelivr.net/npm/bootstrap@4.6.2/dist/js/bootstrap.bundle.min.js")

        script(src="/client/js/alert.js") 

        //- socketIo
        script(src="/socket.io/socket.io.js")
        script(src="/js/socket.js")
        script(type="module" src="/js/chat.js")
        script(type="module" src="https://cdn.jsdelivr.net/npm/emoji-picker-element@^1/index.js")
        
        //- file-upload-with-preview
        script(src="https://unpkg.com/file-upload-with-preview/dist/file-upload-with-preview.iife.js")

        script(src="https://cdnjs.cloudflare.com/ajax/libs/viewerjs/1.11.6/viewer.js")
