extends ../../layouts/default.pug
include ../../mixins/box-head.pug
//- include ../../mixins/search.pug
include ../../mixins/product-layout.pug
//- include ../../mixins/chat.pug
include ../../mixins/section-3.pug

block main 
    //- Bredcrumb

    .breadcrumb 
        .container 
            ul.breadcrumb__list 
                li.breadcrumb__item 
                    a(href="/" class="breadcrumb__link") Trang chủ
                li.breadcrumb__item 
                    a(href="/" class="breadcrumb__link") Chó
                li.breadcrumb__item 
                    a(href="/products" class="breadcrumb__link") Chó nhỏ
    
    //- End Bredcrumb
    +section-3
    
    //- +chat()
    +product-grid(products)



